# Python
env/
venv/
*.pyc
__pycache__/

# PyCharm
.idea/

# MacOS
.DS_Store

# Logs
*.log

# Other unnecessary files

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

*.png
